<ng-container>
  <button
    nz-button
    nzType="primary"
    [nzSize]="'large'"
    nzShape="circle"
    nzTooltipTitle="{{ cat.subscribed ? 'Unsubscribe' : 'Subscribe' }}"
    nzTooltipPlacement="left"
    nz-tooltip
    (click)="subscribeCat()"
  >
    <i class="material-icons action-icon">{{
      cat.subscribed ? 'favorite' : 'favorite_border'
    }}</i>
  </button>
  <button
    nz-button
    nzType="primary"
    [nzSize]="'large'"
    nzShape="circle"
    style="margin-top: 10px;"
    nzTooltipTitle="{{ cat.adopted ? 'Cancel Adoption' : 'Adopt' }}"
    nzTooltipPlacement="left"
    nz-tooltip
    (click)="confirmAdoptCat()"
  >
    <i class="material-icons action-icon">{{
      cat.adopted ? 'remove_shopping_cart' : 'shopping_cart'
    }}</i>
  </button>
</ng-container>
