::ng-deep app-cat-list {
  .list-container {
    display: flex;
    padding: 0 30px;
    max-width: 100%;
    flex-wrap: wrap;
    max-height: 850px;
    position: relative;
    overflow-y: auto;
  }
}
