/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@include mat-core();

/* Rules for sizing the icon. */

.material-icons.md-14 {
  font-size: 14px;
  width: 14px;
  height: 14px;
}

.material-icons.md-18 {
  font-size: 18px;
  width: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
  width: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
  width: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
  width: 48px;
}

.material-icons.md-64 {
  font-size: 64px;
  width: 64px;
}

.cat-image {
  .ant-modal-content {
    width: 800px;
  }
}

.error-modal-dialog {
  height: calc(100% - 140px);
  align-items: center;
  display: flex;
}
