::ng-deep app-cat-profile {
  .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 170px;
    max-height: 850px;
    overflow-y: auto;

    nz-divider {
      background-color: #9e9e9e;
    }

    .child-element {
      width: 100%;
      margin-top: 30px;
    }

    .return-button {
      margin-top: 170px;
      button {
        span {
          display: flex;
          align-items: center;
        }
      }
    }

    .name-container {
      font-size: 36px;
      font-weight: 700;
    }

    .image-container {
      img {
        width: 100%;
      }
    }

    .detail-header {
      font-size: 24px;
      font-weight: 500;
    }

    .detail-content {
      display: flex;
      flex-wrap: wrap;
      .detail-property {
        min-width: 50%;
        display: flex;
        flex-direction: row;

        .property-title {
          font-weight: 700;
        }

        .property-content {
          margin-left: 5px;
        }
      }
    }
  }
}
