<nz-card
  style="width:300px;"
  nzHoverable
  [nzCover]="coverTemplate"
  [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
>
  <nz-card-meta
    [nzTitle]="cat.name"
    [nzDescription]="cat.description"
    [routerLink]="['../', cat.id]"
  ></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img alt="cat" [src]="cat.src" (click)="clickImage(cat)" />
</ng-template>
<ng-template #actionSetting>
  <i class="material-icons md-18">settings</i>
</ng-template>
<ng-template #actionEdit>
  <i class="material-icons md-18">edit</i>
</ng-template>
<ng-template #actionEllipsis>
  <i class="material-icons md-18">more_horiz</i>
</ng-template>

<nz-modal
  nzClosable
  [nzFooter]="null"
  [(nzVisible)]="imageVisible"
  nzWrapClassName="cat-image"
  (nzOnCancel)="handleCancel()"
>
  <ng-container>
    <img *ngIf="selectedCat" [src]="selectedCat.src" />
  </ng-container>
</nz-modal>
